<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    @Html.ActionLink("Vidly", "Index", "Movies", new { area = "" }, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                @Html.ActionLink("Customers", "Index", "Customers", null, new { @class="nav-link"})
                @*<a class="nav-link" href="/Customers">Customers</a>*@
             </li>
            <li class="nav-item">
                @Html.ActionLink("Movies", "Index", "Movies", null, new { @class="nav-link"})
            </li>
            <li class="nav-item">
                @Html.ActionLink("Rentals", "List", "Rentals", null, new { @class="nav-link"})
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>